p, table, td, li {
    margin: 0;
    color: #4c4c4c;
    font-size: 9pt;
    font-family: "Century Gothic";
}

.title {
    padding-top: 14pt;
    padding-bottom: 14pt;
    color: #0376ba;
    font-weight: 700;
    font-size: 26pt;
    font-family: "Century Gothic";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center;
}

.subtitle {
    padding-top: 3pt;
    color: #0376ba;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 6pt;
    font-family: "Century Gothic";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center;
    color: #0376ba;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Century Gothic";
    font-style: normal;
}

.title1 {
    padding-top: 14pt;
    padding-bottom: 14pt;
    color: #0376ba;
    font-weight: 700;
    font-size: 16pt;
    font-family: "Century Gothic";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center;
}

.title2 {
    padding-top: 3pt;
    color: #0376ba;
    font-weight: 700;
    font-size: 12pt;
    font-family: "Century Gothic";
    page-break-after: avoid;
    font-style: italic;
    padding-top: 10pt;
    padding-bottom: 10pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
}

.title3 {
    padding-top: 7pt;
    padding-bottom: 7pt;
    color: #a30003;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Century Gothic";
    font-style: normal;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.title4 {
    padding-top: 15pt;
    color: #5e5f5f;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 10pt;
    font-family: "Century Gothic";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: justify;
    padding-top: 15pt;
    padding-bottom: 10pt;
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.general_text {
    padding-top: 3pt;
    padding-bottom: 6pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify;
    color: #4c4c4c;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Century Gothic";
    font-style: normal;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
    width: 100%;
}

tr {
    height: 21.8pt;
}

td {
    border-right-style: solid;
    padding: 2pt 2pt 2pt 2pt;
    border-bottom-color: #cccccc;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #cccccc;
    vertical-align: middle;
    border-right-color: #cccccc;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 491.6pt;
    border-top-color: #cccccc;
    border-bottom-style: solid;
}

h2 {
    padding-top: 10pt;
    padding-bottom: 10pt;
    color: #384f94;
    font-weight: 700;
    font-size: 2.4rem;
    font-family: "Century Gothic";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h4 {
    font-family: "Century Gothic";
}

ul {
    margin: 0px 0px;
}

li {
    padding-left: 0pt;
    margin-left: 36pt;
    padding-top: 3pt;
    padding-bottom: 6pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify;
    list-style-type: initial;
}


.image-container {
    width: 50vw;
    height: 50vh;
    position: relative;
}

.image-container .image {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover;
}

.bold {
    font-weight: 600;
}

/**
** HEAD COMPONENT
**/
.head__container {
    height: 100px;
    padding: 5px 10px 5px 20px;
    height: 100px;
    min-width: 320px;
    padding: 0;
    margin: 0;
    /* background-color: #003865; */
    background-color: #0000000f;
    z-index: 999;
    padding: 0 4rem;
}

.head__logo {
    margin: 0.8rem 1.5rem 1.5rem 1.8rem;
    width: 250px;
    height: auto;
    will-change: opacity;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    margin: 1rem 0rem;
}

/*
** CONTENT COMPONENT
*/

main {
    display: grid;
    height: 70vh;
    grid-gap: 10px;

    /*Specifying areas*/
    grid-template-areas:
        'header header header header'
        'menu content content content';
    /*'footer footer footer footer';*/
    padding: 1.5rem 4rem;
}

main>* {
    /* background-color: goldenrod; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

/* Name of areas */
header {
    grid-area: header;
    height: 90px;
}

aside {
    grid-area: menu;
    width: 240px;
    height: inherit;
    /* padding: 1rem 0.8rem; */
}

aside>div {
    width: inherit;
}

div#menu__section_filter>* {
    margin: 2px 0px;
    font-family: 'Century Gothic';
}

div#menu__section_filter>label>span {
    font-size: inherit;
}

h4#menu__filter_title {
    background-color: #374f93;
    color: #fff;
    padding: 0.5rem 0.7em;
    border-left: 7px solid #b62326;
}

label {
    margin-left: 8px;
}

section {
    grid-area: content;
    padding: 0 1.5rem;
}

.content__head_view {
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 100%;
    background-color: #0000000f;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    /* background-color: #374f93; */
    color: #364f93;
    padding: 0.2rem 0.7em;
    border-left: 7px solid #b62326;
}

.content__head_view > h5 {
    margin-top: 9px;
    margin-right: 9px;
    font-family: 'Century Gothic';
}

/* #student_button:hover {
    padding-bottom: 2px;
    outline: 0.3px solid #CCC;
    border-bottom: 3px solid #999;
} */

button:hover[id*="view"] {
    padding-bottom: 2px;
    outline: 0.3px solid #CCC;
    border-bottom: 3px solid #999;
}

.container__image {
    /* background-color: aquamarine; */
    padding: 5px;
    width: 100%;
}

.container__img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

/*
** Loader CSS
*/

.loader__container {
    width: 100%;
    /*background: beige;*/
    height: 50vh;
}

.loader__container__grid-content {
    margin: auto 25%;
}

.loader__container__grid_content_grid {
    margin: 25% auto;
}